/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Permanent+Marker|Roboto:100,300,400,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p, a, span, body, html, h1, h2, h3, h4, li {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.2; }

/**
Fonts - 
Roboto | Permanant Market | Fjalla One
font-family: 'Roboto', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Permanent Marker', cursive;
*/
.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.wrapper {
  width: 90%;
  margin: 0 auto; }

.graphic.placeholder {
  width: 40%;
  background: #787878;
  min-height: 250px; }

header {
  margin: 40px 0; }
  header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header .logo {
    text-decoration: none;
    color: #000; }
  header h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 42pt;
    text-transform: uppercase;
    width: 345px;
    letter-spacing: -4px;
    line-height: 0.9; }
    header h1 span:first-child {
      font-family: 'Fjalla One', sans-serif;
      color: #0036bf;
      line-height: 0.9; }
    header h1 span.tagline {
      display: block;
      font-family: 'Permanent Marker', cursive;
      font-size: 23pt;
      line-height: 0.9; }
  header ul.nav {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    z-index: 50; }
    header ul.nav li {
      position: relative;
      margin: 0 5% 0 0; }
      header ul.nav li a {
        text-decoration: none;
        color: #333;
        font-size: 20pt;
        font-weight: 100;
        border-bottom: 1px solid transparent; }
        header ul.nav li a:last-child {
          margin-right: 0; }
        header ul.nav li a:hover {
          color: #000;
          border-color: #0036bf; }
      header ul.nav li.dropdown ul {
        position: absolute;
        width: 325px;
        left: -110px;
        display: none; }
        header ul.nav li.dropdown ul li:first-child {
          padding-top: 10px; }
        header ul.nav li.dropdown ul li:last-child a {
          padding-bottom: 15px; }
        header ul.nav li.dropdown ul li a {
          font-size: 14pt;
          background: rgba(255, 255, 255, 0.95);
          display: block;
          text-align: center;
          padding: 7px;
          box-sizing: border-box; }
          header ul.nav li.dropdown ul li a:hover {
            border-color: transparent;
            transform: none;
            background: #0036bf;
            color: #fff;
            font-weight: 400; }
      header ul.nav li.dropdown:hover ul {
        display: block; }

.ctas {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#787878+0,333333+100 */
  background: #787878;
  /* Old browsers */
  background: -moz-linear-gradient(left, #787878 0%, #333333 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #787878 0%, #333333 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #787878 0%, #333333 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#333333',GradientType=1 );
  /* IE6-9 */
  height: 625px;
  position: relative;
  overflow: hidden; }
  .ctas .cta .message {
    position: absolute;
    right: 1%;
    bottom: 30%;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 21pt; }
    .ctas .cta .message .highlight {
      font-family: 'Fjalla One', sans-serif;
      text-transform: uppercase;
      background: #333;
      color: #fff;
      padding: 5px 10px; }
    .ctas .cta .message .action {
      margin: 5px 5px 0 0; }
      .ctas .cta .message .action a {
        float: right;
        color: #eee;
        text-decoration: none;
        font-size: 11pt; }
  .ctas .ad1 {
    position: absolute;
    z-index: 10;
    background: url(../../img/ctas/test1.png) no-repeat 0 bottom;
    height: 100%;
    width: 100%;
    background-size: 120%;
    background-color: transparent; }
  .ctas #flare {
    position: absolute;
    z-index: 5; }

.band .wrapper {
  width: 80%;
  margin: 40px auto;
  align-items: flex-start;
  display: flex;
  justify-content: space-between; }
  .band .wrapper .message {
    width: 40%;
    font-size: 18pt; }
    .band .wrapper .message p {
      font-weight: 100; }
    .band .wrapper .message h2, .band .wrapper .message h2 p {
      font-family: 'Permanent Marker', cursive;
      font-size: 29pt; }
    .band .wrapper .message h2 {
      margin: 0 0 20px 0;
      font-size: 38pt; }
    .band .wrapper .message h2 p {
      margin-top: 2px;
      padding: 5px 0 5px 0px;
      text-align: center; }

.band.blue {
  color: #fff;
  background: #0036bf; }
  .band.blue .message h2 p {
    background: #fff;
    color: #0036bf; }

.band.white .message h2 p {
  background: #0036bf;
  color: #fff; }

.band.band1 .message {
  width: 40%;
  font-size: 18pt; }
  .band.band1 .message p {
    font-weight: 100; }
  .band.band1 .message h2 {
    margin: 0 0 20px 0;
    font-size: 37pt; }
  .band.band1 .message h2 p {
    margin-top: 2px;
    padding: 5px 0 5px 0px;
    text-align: center; }

.band.band3 .message h2 {
  font-size: 34pt; }

.next-steps li a {
  color: #fff;
  font-size: 15pt;
  display: block; }

ul.connect li {
  margin: 0 0 20px; }
  ul.connect li h2 {
    padding: 15px; }
  ul.connect li h2, ul.connect li a {
    font-family: 'Permanent Marker', cursive;
    background: #fff;
    color: #0036bf; }
  ul.connect li a {
    display: block;
    font-size: 27pt;
    text-align: center; }

a {
  transition: all 250ms;
  font-size: 11pt;
  text-decoration: none; }

a:hover {
  transform: scale(1.1);
  color: #fff; }
