/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Permanent+Marker|Roboto:100,300,400,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p, a, span, body, html, h1, h2, h3, h4, li {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.2; }

/**
Fonts - 
Roboto | Permanant Market | Fjalla One
font-family: 'Roboto', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Permanent Marker', cursive;
*/
.group:after {
  content: "";
  display: table;
  clear: both; }

p {
  margin: 0 0 15px; }

em {
  font-style: italic;
  color: #343434; }

strong {
  font-weight: 500; }

.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.wrapper {
  width: 90%;
  margin: 0 auto; }

.page.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 50px; }
  .page.wrapper h1, .page.wrapper h2, .page.wrapper h3, .page.wrapper h4 {
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing: -1px;
    color: #333;
    margin: 0 0 3px 0; }
  .page.wrapper h1 {
    font-size: 18pt;
    margin: 0 0 20px; }
  .page.wrapper h1 span {
    font-weight: 100; }

.graphic.placeholder {
  width: 40%;
  background: #787878;
  min-height: 250px; }

.graphic.image {
  width: 40%;
  max-height: 250px;
  filter: grayscale(1); }

.ctas {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#787878+0,333333+100 */
  background: #787878;
  /* Old browsers */
  background: -moz-linear-gradient(left, #787878 0%, #333333 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #787878 0%, #333333 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #787878 0%, #333333 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#333333',GradientType=1 );
  /* IE6-9 */
  position: relative;
  overflow: hidden;
  margin-bottom: 50px; }
  .ctas .cta .message {
    position: absolute;
    right: 1%;
    bottom: 30%;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.94vw; }
    .ctas .cta .message .highlight {
      font-family: 'Fjalla One', sans-serif;
      text-transform: uppercase;
      background: #333;
      color: #fff;
      padding: 5px 10px; }
    .ctas .cta .message .action {
      margin: 5px 5px 0 0; }
      .ctas .cta .message .action a {
        float: right;
        color: #eee;
        text-decoration: none;
        font-size: 11pt; }
  .ctas .ad1 {
    position: absolute;
    z-index: 10;
    background: url(../../img/ctas/test1.png) no-repeat 0 bottom;
    height: 90%;
    width: 100%;
    background-size: 120%;
    background-color: transparent;
    margin: 7% 0 0 0; }
  .ctas #flare {
    position: absolute;
    z-index: 5; }

#footer {
  background: #787878;
  height: 150px; }

header {
  position: fixed;
  background: white;
  padding: 2% 0 1% 0;
  margin: 0px;
  z-index: 11;
  width: 100%;
  opacity: 1; }
  header .nav-toggle {
    visibility: hidden; }
  header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  header .logo {
    text-decoration: none;
    color: #000; }
    header .logo:hover {
      color: #000; }
  header h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.88vw;
    text-transform: uppercase;
    width: 345px;
    letter-spacing: -4px;
    line-height: 0.9; }
    header h1 span:first-child {
      font-family: 'Fjalla One', sans-serif;
      color: #0036bf;
      line-height: 0.9; }
    header h1 span.tagline {
      display: block;
      font-family: 'Permanent Marker', cursive;
      font-size: 2.14vw;
      line-height: 0.9; }
  header ul.nav {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    z-index: 50;
    justify-content: space-around; }
    header ul.nav li {
      position: relative;
      margin: 0 5% 0 0; }
      header ul.nav li a {
        text-decoration: none;
        color: #333;
        font-size: 20pt;
        font-size: 1.85vw;
        font-weight: 100;
        border-bottom: 1px solid transparent;
        display: block; }
        header ul.nav li a:last-child {
          margin-right: 0; }
        header ul.nav li a:hover {
          color: #000;
          border-color: #0036bf; }
      header ul.nav li.dropdown ul {
        position: absolute;
        width: 325px;
        left: -110px;
        display: none; }
        header ul.nav li.dropdown ul li:first-child {
          padding-top: 10px; }
        header ul.nav li.dropdown ul li:last-child a {
          padding-bottom: 15px; }
        header ul.nav li.dropdown ul li a {
          font-size: 14pt;
          background: rgba(255, 255, 255, 0.95);
          display: block;
          text-align: center;
          padding: 7px;
          box-sizing: border-box; }
          header ul.nav li.dropdown ul li a:hover {
            border-color: transparent;
            transform: none;
            background: #0036bf;
            color: #fff;
            font-weight: 400; }
      header ul.nav li.dropdown:hover ul {
        display: block; }

.services-page .nav li.services > a,
.about-page .nav li.about > a,
.insights-page .nav li.insights > a {
  color: #000;
  border-color: #0036bf; }

.band {
  overflow: hidden; }
  .band .wrapper {
    width: 80%;
    margin: 40px auto;
    padding: 0;
    align-items: flex-start;
    display: flex;
    justify-content: space-between; }
    .band .wrapper .message {
      width: 40%;
      font-size: 1.67vw; }
      .band .wrapper .message p {
        font-weight: 100; }
      .band .wrapper .message h2, .band .wrapper .message h2 p {
        font-family: 'Permanent Marker', cursive;
        font-size: 2.7vw; }
      .band .wrapper .message h2 {
        margin: 0 0 20px 0;
        font-size: 3.4vw; }
      .band .wrapper .message h2 p {
        margin-top: 2px;
        padding: 5px 0 5px 0px;
        text-align: center; }
  .band.blue {
    color: #fff;
    background: #0036bf; }
    .band.blue .message h2 p {
      background: #fff;
      color: #0036bf; }
  .band.white .message h2 p {
    background: #0036bf;
    color: #fff; }
  .band.band1 .message {
    width: 40%;
    font-size: 1.67vw; }
    .band.band1 .message p {
      font-weight: 100; }
    .band.band1 .message h2 {
      margin: 0 0 20px 0;
      font-size: 3.4vw; }
    .band.band1 .message h2 p {
      margin-top: 2px;
      padding: 5px 0 5px 0px;
      text-align: center; }
  .band.band3 .message h2 {
    font-size: 3.1vw; }

.home .ctas {
  height: 625px;
  margin-bottom: 0; }

@media (max-width:1100px){
  .home .ctas {
  height: 515px;
  margin-bottom: 0; }
}

@media (max-width:800px){
  .home .ctas {
  height: 345px;
  margin-bottom: 0; }
}

.next-steps li a {
  color: #fff;
  font-size: 1.5vw;
  display: block; }

ul.connect li {
  margin: 0 0 20px; }
  ul.connect li h2 {
    padding: 15px; }
  ul.connect li h2, ul.connect li a {
    font-family: 'Permanent Marker', cursive;
    background: #fff;
    color: #0036bf; }
  ul.connect li a {
    display: block;
    font-size: 2.5vw;
    text-align: center; }

.services-page.website-development .web-dev a,
.services-page.appdev .appdev a,
.services-page.seo .seo a,
.services-page.smm .smm a,
.services-page.strategy .strategy a,
.services-page.copywriting .copywriting a,
.services-page.branding .branding a,
.services-page.mentoring .mentoring a,
.services-page.web-rennovation .rennovation a {
  background: #0036bf;
  color: #fff; }

.services-page .ctas {
  height: 300px; }

.services-page .in-page-nav {
  width: 19%;
  margin-right: 1%; }
  .services-page .in-page-nav li {
    margin: 0; }
    .services-page .in-page-nav li a {
      display: block;
      color: #333;
      padding: 7px; }

.services-page .content {
  width: 80%;
  border-left: 1px dotted #333;
  padding: 0 0 0 30px; }

.about-page .ctas {
  height: 300px; }

.clients-page .page.wrapper {
  margin: 0;
  width: 100%;
  height: 100%; }

.clients-page .ctas {
  height: 300px; }

a {
  transition: all 250ms;
  font-size: 11pt;
  text-decoration: none; }

a:hover {
  transform: scale(1.1);
  color: #fff; }

@media only screen and (max-device-width: 415px) {

  header {
    position: fixed;
    width: 100%;
    z-index: 20;
    margin-top: 0;
    display: inline-block;
    background: #fff;
    box-shadow: 0px 1px 1px #bbb; }
    header .wrapper {
      width: 100%;
      display: block; }
    header .logo {
      display: block;
      text-align: center;
      margin: 35px auto 20px; }
      header .logo h1 {
        font-size: 32pt;
        letter-spacing: -2px; }
        header .logo h1 span.tagline {
          font-size: 18pt; }
    header .nav-toggle {
      visibility: visible;
      position: absolute;
      top: 40px;
      right: 7%;
      font-size: 17pt; }
      header .nav-toggle:hover {
        color: #0036bf;
        transform: scale(1); }
    header ul.nav {
      position: absolute;
      width: 100%;
      display: block;
      visibility: hidden;
    }
      header ul.nav li {
        margin: 0; }
        header ul.nav li a {
          display: block;
          background: #0036bf;
          color: #fff;
          padding: 15px 20px;
          box-sizing: border-box;
          font-size: 14pt;           
        }
  .home .ctas {
    margin-top: 130px;
    height: auto;
    height: 170px; }
  .home .ctas .ad1 {
    background-position: 0 top;
    background-size: 100%; }
  .ctas .cta .message {
    font-size: 13.5pt;
    bottom: 1%; }
  .ctas .cta .message .highlight {
      padding: 3px 6px; 
  }
  .band .wrapper {
    width: 98%;
    display: block;
    margin: 30px auto 40px; }
    .band .wrapper .message, .band .wrapper .graphic {
      width: 98%;
      display: block;
      margin: 0 auto; }
    .band .wrapper .graphic {
      margin: 10px auto; }
    .band .wrapper .message h2 {
      text-align: center;
      font-size: 26pt; }
    .band .wrapper .message h2 p {
      font-size: 23pt;
      margin-top: 4px; }
  .band .wrapper .message p {
    font-weight: 100;
    font-size: 11pt;
    padding: 0 10px;
  }
  .band.band2 .wrapper .message h2 {
    font-size: 27pt; }
  .band.band2 .wrapper .message h2 p {
    font-size: 22pt; }
  .band.band3 .wrapper .message {
    margin-bottom: 20px; }
  .band.band3 .wrapper .message h2 {
    font-size: 25pt; }
  .services-page .ctas {
    margin-bottom: 25px; }
  .services-page .content {
    width: 98%;
    border-left: none;
    padding: 0 15px;
    box-sizing: border-box; }
  .services-page .page.wrapper {
    display: block;
    width: 98%;
    margin: 0 auto; }
  .services-page .in-page-nav {
    width: 100%;
    margin-bottom: 25px; }
  .page.wrapper h1 {
    font-size: 15pt; } }
  .next-steps li a {
    font-size: 13pt;
    padding: 0 10px;
  }
  ul.connect li a {
    font-size: 14pt;
  }
  .in-page-nav li {
    display: inline-block;
    width: 50%;
  }
  .in-page-nav li:last-child {
    display: inline-block;
    width: 100%;
  }
  .in-page-nav li a{
    font-size: 9pt;
  }

@media only screen and (max-device-width: 321px) {
  
  header {
    position: fixed;
    width: 100%;
    z-index: 20;
    margin-top: 0;
    display: inline-block;
    background: #fff;
    box-shadow: 0px 1px 1px #bbb; }
    header .wrapper {
      width: 100%;
      display: block; }
    header .logo {
      display: block;
      text-align: left;
      text-indent: 20px;
      margin: 35px auto 20px; }
      header .logo h1 {
        font-size: 27pt;
        letter-spacing: -2px; }
        header .logo h1 span.tagline {
          font-size: 15pt; }
    header .nav-toggle {
      visibility: visible;
      position: absolute;
      top: 40px;
      right: 7%;
      font-size: 17pt; }
      header .nav-toggle:hover {
        color: #0036bf;
        transform: scale(1); }
    header ul.nav {
      position: absolute;
      width: 100%;
      display: block;
      visibility: hidden; }
      header ul.nav li {
        margin: 0; }
        header ul.nav li a {
          display: block;
          background: #0036bf;
          color: #fff;
          padding: 2px 4px;
          box-sizing: border-box; }
  .home .ctas {
    margin-top: 130px;
    height: auto;
    height: 140px; }
  .home .ctas .ad1 {
    background-position: 0 top;
    background-size: 100%; }
  .ctas .cta .message {
    font-size: 10pt;
    bottom: 1%; }
  .band .wrapper {
    width: 98%;
    display: block;
    margin: 30px auto 40px; }
    .band .wrapper .message, .band .wrapper .graphic {
      width: 98%;
      display: block;
      margin: 0 auto; }
    .band .wrapper .graphic {
      margin: 10px auto; }
    .band .wrapper .message h2 {
      text-align: center;
      font-size: 26pt; }
    .band .wrapper .message h2 p {
      font-size: 23pt;
      margin-top: 4px; }
  .band.band2 .wrapper .message h2 {
    font-size: 27pt; }
  .band.band2 .wrapper .message h2 p {
    font-size: 22pt; }
  .band.band3 .wrapper .message {
    margin-bottom: 20px; }
  .band.band3 .wrapper .message h2 {
    font-size: 25pt; }
  .services-page .ctas {
    margin-bottom: 25px; }
  .services-page .content {
    width: 98%;
    border-left: none;
    padding: 0 15px;
    box-sizing: border-box; }
  .services-page .page.wrapper {
    display: block;
    width: 98%;
    margin: 0 auto; }
  .services-page .in-page-nav {
    width: 100%;
    margin-bottom: 25px; }
  .page.wrapper h1 {
    font-size: 15pt; }
  .ctas .ad1 {
    height: 100%;
    margin-top: 4%;
  } 
}
