
extends page.pug

block main-cta
  img(src="img/banners/about_510872512.jpg")

block page_content
  h1 Imperative Design 
    span | Your marketing department outsourced locally

  h2 A little about us
  p 
    | We're team of developers and designers who have been serving the Metro Atlanta area
    | for over 10 years. Wether you are in Roswell or Buford or you're in the heart of Atlanta, 
    | Imperative Design provides the same level of service.