extends service_layout.pug

block main-cta
  img(src="../img/banners/app_dev_628609112.jpg")

block page_content
        h1 We build the products 
          span | That build your business
        
        h2 We give you the tools to make your business fly
        p
            | Wether you are the small business owner that wants to make their fence company's
            | project estimation and invoicing system more streamlines, or you are the CEO of a
            | new startup looking to be a cutting edge provider of web analytics, we can build the 
            | tools and products that will enable your business to lead the curve.

        h2 New and shiny technology
        p
            | Imperative Design uses the right tool for the job. Most people know the old adage, if every
            | problem looks like a nail, then the only tool you use is a hammer. We get to know you and 
            | the problems you are looking to solve. Then we craft solutions using the latest and greatest
            | technology so your business can be set up for success for years.

        h2 Systems that fit your needs
        p
            | Do you prefer to see constant progress with an agile methodology or maybe you like to see
            | large milestones completed at once? Our vast experience with many different systems allows
            | us to be flexible in how we approach building and bill your products. We can bring your 
            | dream to life in a timeframe that works for you.
            //source control backups - github
            //db backup
            //superior code
            //scaleable & maintainable