extends service_layout.pug

block main-cta
  img(src="../img/banners/branding_545276138.jpg")


block page_content
        h1 Branding   
          span | Control your brand perception
        p 
            | When you think of McDonalds, what is the first thing you think of? How about when you think of
            | UPS? Golden arches and big black trucks right? You can name countless brands and most often, the 
            | first thing that comes to mind when you think of them is their branding. For this very reason, 
            | your logo needs to grab consumers, not put them to sleep. Your colors need to speak volumes, not whispers.
            | Get in contact with us and let's start dreaming up some ideas together.

        h2 Logos  
            span | Portable graphics
        p 
            | We work with you to provide exactly what you're looking for. Our talented team will take your ideas,
            | provide some inital comps, and then work with you to refine, or totally shift courses to nail down exactly
            | a logo that nails the esscence of your business. 

        h2 Business Cards  
            span | Physical &amp; Digital
            //vcf file & shortlink
            
        h2 T-shirts
        