
extends layout.pug

block content
  section.ctas
      .cta
  .page.wrapper
    section.content
        .extendRight
            h2 Client Name
        .extendLeft
    //-   h1 Imperative Design 
    //-     span | your full stop web shop