extends service_layout.pug

block main-cta
  img(src="../img/banners/copywriting_519649676.jpg")

block page_content
        h1 Content creation  
          span | The backbone of the web
        p
            | Content is the most overlooked and underrated part of the web.
            | Having good content on your site is literally the currency of search engines.
            | Providing uniqie and useful value to your visitors is the number one thing that
            | search engines look for when ranking a site. Furthermore, looking beyond SEO value, having good
            | content is just a plain great idea for informing and helping out the people you are trying
            | to connect with. It gives you instant credibility with your customer base and establishes you
            | as a pro right off the bat.

        h2 Site Content   
            span | The holy grail
        p
            | After working year after year with clients, a consitent trend has emerged. Providing quality content
            | is not only the most difficult part of marketing their business, but it's also often something that has
            | never even occured to the client as a responsibility that they have to meet. Many times, it is assumed that when
            | you do a site, the content is just something that comes along with it.

        p 
            | Think about it, who knows !{"<em>your</em>"}
            | business better than you, noone. Great content makes a great site, and to have great content, a business must deliver it
            | to their development team, or it has to be made. Making good content requires a lot of time. Research has to be done about
            | many things. What keywords drive traffic about this topic, what details will drive people to engage more with you
            | when they read about this topic on your site, what information will consumers expect this page to have, and on and on.
            | Put simply, great content is not a copy and paste affair, it's a deeply personalized deliverable that we take great pride in
            | providing for our clients.

        h2 Blog Posts   
            span | The modern advertisement
        p 
            | When you're writing content for you business, one thing you want to keep on the forefront of your mind
            | is what would someone type in to find this piece of content. That makes thigns a bit difficult sometimes 
            | when a person is trying to write copy that will get you found online, while keeping things value driven and 
            | not seeming very spammy. When someone tries to cram fifty keywords on a page its hard to make everything still 
            | stay relevant and to the point. Enter the blog post. Blog posts, articles, provide you with a means to talk about
            | services, products, and ideas that you are trying to push, all while seeming natural and concise. It is, perhaps,
            | the greatest tool a business can have in their arsenal for site content that gets them found.


        h2 Landing Pages   
            span | The modern flyer
        p 
            | Landing pages are similar to blog posts but they differ slightly. A landing page is typically 
            | more visial than a blog post. It is designed to drive people to take a specific action. They are also
            | usually just a one page deal. Short, sweet, to the point, and visually appealing.
        