extends layout.pug

block content
        section.ctas
            div.ad1.cta.graphic-placeholder
                h4.message
                    != 'What if <span class="highlight">you could choose your customers</span> intead of them choosing you?'
                    p.action
                        a(href="/services/seo") Read More
            div#flare
        
        section.band.blue.band1
            div.wrapper
                div.message
                    h2 Reach New Heights 
                        p Learn new strategies
                    p
                        | The way we connect with customers has
                        | fundamentally shifted over the last few years
                        | and so have the strategies needed.
                div.graphic.placeholder

        section.band.white.band2
            div.wrapper
                div.graphic.placeholder
                div.message
                    h2 Follow the money 
                        p Is your plan working?
                    p
                        | Learn if your marketing dollars are working 
                        | for you as hard as they can. Are you missing 
                        | out on valuable marketing verticals that can 
                        | connect you with a whole new audience?