//- index.pug
extends layout.pug

block content
        section.ctas
            div.ad1.cta.graphic-placeholder
                img(src='img/ctas/home_banner_1.png')
                h4.message
                    != 'What if <span class="highlight">you could choose your customers</span> intead of them choosing you?'
                    p.action
                        a(href="/services/seo") Read More
            div#flare
        
        section.band.blue.band1
            div.wrapper
                div.message
                    h2 Reach New Heights 
                        p Learn new strategies
                    p
                        | The way we connect with customers has
                        | fundamentally shifted over the last few years
                        | and so have the strategies needed.
                //- div.graphic.placeholder
                img.graphic.image(src="../img/ctas/connect.jpeg")

        section.band.white.band2
            div.wrapper
                //- div.graphic.placeholder
                img.graphic.image(src="../img/ctas/marketing.jpg")                
                div.message
                    h2 Follow the money 
                        p Is your plan working?
                    p
                        | Learn if your marketing dollars are working 
                        | for you as hard as they can. Are you missing 
                        | out on valuable marketing verticals that can 
                        | connect you with a whole new audience?
        section.band.blue.band3
            div.wrapper
                div.message
                    h2 You had me at hello
                        p Now what's next?
                    ul.next-steps
                        li: a(href='/how-to-go-online') How do I put my business on the web?
                        li: a(href='/how-to-go-online') I've got an idea, how do I turn it into an app?
                        li: a(href='/how-to-go-online') What does a search engine expect from me?

                ul.connect
                    li: a(href="/get-started"): h2 Get Started
                    li: a.show-contact(href="/request-a-quote"): h2 Request A Quote
                    li.social-icons