//- layout.pug
html
  head
    title Imperative Design | A Full Stop Web Shop
    block scripts
        script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js')
        script(src='js/stats.min.js')
        script(src='js/FlyControls.js')
        script(src='js/global.js')
    block styles
        link(rel="stylesheet", href="styles/css/styles.css")
    body
    div.container
        header
            .wrapper
                a(href="/").logo
                    h1
                        != '<span>Imperative</span> Design'
                        span.tagline Elevate your messaging
                nav
                    a(href="/about") About
                    a(href="/services") Services
                    a(href="/insights") Insights
                
        
        block content

    script(src='js/lensflare.js')