//- layout.pug
html
  head
    title Imperative Design | A Full Stop Web Shop
    block scripts
        script(src='js/global.js')
    block styles
        link(rel="stylesheet", href="styles/css/styles.css")
    body.page(class=active_page)
    div.container
        header
            .wrapper
                a(href="/").logo
                    h1
                        != '<span>Imperative</span> Design'
                        span.tagline Elevate your messaging
                ul.nav
                    li.about: a(href="/about") About
                    li.services.dropdown
                        a(href="/services") Services
                        ul
                            li: a(href='/services/website-development') Web Development
                            li: a(href='/services/app-development') Application Development
                            li: a(href='/services/seo') Search Engine Optimization ( SEO )
                            li: a(href='/services/social-media-marketing') Social Media Marketing
                            li: a(href='/services/digital-marketing-strategy') Digital Marketing Strategy
                            li: a(href='/services/copywriting') Copywriting
                            li: a(href='/services/brand-creation') Brand Creation
                            li: a(href='/services/website-rennovation') Website Rennovation
                    li.insights: a(href="/insights") Insights
                
        
        block content

    block body-scripts