ul.nav
    li.about: a(href="/about") About
    li.services.dropdown
        a(href="/services") Services
        ul
            li: a(href='/services/website-development') Web Development
            li: a(href='/services/application-development') Application Development
            li: a(href='/services/search-engine-optimization') Search Engine Optimization ( SEO )
            li: a(href='/services/social-media-marketing') Social Media Marketing
            li: a(href='/services/digital-marketing-strategy') Digital Marketing Strategy
            li: a(href='/services/copywriting') Copywriting
            li: a(href='/services/branding') Brand Creation
            li: a(href='/services/website-rennovation') Website Rennovation
            li: a(href='/services/mentoring') Mentoring
    li.insights: a(href="/insights") Insights
    //- li.get_in_touch
    //-     a(href="tel:4703583559") Phone
