//- page.pug
html
  head
    title Imperative Design | A Full Stop Web Shop
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src='/js/global.js')

    block scripts
    
    block styles
        link(rel="stylesheet", href="/styles/css/styles.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body.page(class=active_page)
        div.container
            header
                .wrapper
                    a(href="/").logo
                        h1
                            != '<span>Imperative</span> Design'
                            span.tagline Elevate your messaging
                    a.nav-toggle(href="#")
                        i.fa.fa-bars
                    include nav.pug
        section.ctas
            .cta
                block main-cta
        .page.wrapper 
            section.content
                block page_content
                
    block bodyscripts