extends service_layout.pug

block main-cta
  img(src="../img/banners/seo_177548655.jpg")

block page_content
        h1 Search engine marketing  
          span | The modern billboard
        
        h2 Get your business started on the right foot
        p
            | In the past, businesses would advertise with billboards, flyers, ads in the newspaper, among other
            | various types of media channels. Today however, many of these forms of advertising are becoming increasing
            | less effective while new strategies and channels are emerging. If you want to be found by your target market,
            | you need to arm your business with knowledge and know how and take advantage of these new channels. 

        p
            | The web is the moden advertising medium that can yeil dramatic results for your business. From a simple
            | Google search on a mobile to a query on a specific site like yelp or kudzu. These are the avenues that people
            | are taking to find what they are looking for now. 
            

        h2 SEO: Search engine optimization
        p
            | SEO is the process of making your site attractive to search engines. It is the process of aligning your site
            | and your business with the terms that potential customers are using to look for businesses like you. 
            | SEO is not a magic bullet that will make your P&amp;L explode overnight. It is an essential. It put's you on 
            | equal footing with your competition and sets you up for the possibility of being found. 
        
        h3 Actionable Analytics 
            span | Maximize your ROI
        p 
            | Search engine optimization also provides uniqie opportunities to see what works for your business. That way 
            | you can do more of what works and less of what doesn't. You can see which cities people are finding you from,
            | which social networks are sending you traffic, which keywords people are using to connect with you.
        
        h3 Instant traffic 
            span | sustainable increases in inbound leads
        p 
            | Work with our team to determine your marketing budget and outline your goals. We can
            | fine tune your marketing mix to get your marketing push started off with a bang and 
            | get people coming through your doors as fast as possible.

        h3 Keep up with the corporate Joneses 
            span | See what your competition is doing
        p
            | Not only can we fine tune your site to be as search friendly as possible, but we can see
            | why your competition might be ranking higher than you. If you have have hit a wall with your search
            | effots, contact us and let's find out what your competitors are doing to get their edge over you.

        h3 In house training 
            span | Let us arm you
        p 
            | Imperative Deisgn is all about providing a solution that works for you. The SEO game is constantly changing.
            | New algorithims are constantly coming out and existing ones are continuously changing. The average small businesses and
            | even some of the big ones will find it hard to keep up with the constant break neck pace of change. That's why
            | it's great to have professionals in your corner. We can either be your businesses marketing arm, or we are delighted
            | to train your staff to handle this responsibility for you.