
extends service_layout.pug

block main-cta
  img(src="img/banners/full_service_108220747.jpg")

block page_content
  h1 Imperative Design 
    span | Services that lead

  h2 create your digital business card
  p 
    | Today, we live in a time where traditional marketing strategies are becoming more
    | and more obsolete. Even the traditional business card seems antiquated when compared
    | to the other mediums of information exchange today. As times change and consumer connection 
    | strategies change, one thing will remain constant: The definition of quality service. Navigating these new digital times
    | we live in doesn't have to be a murky place for your business. Cut through the fog by pairing
    | with someone who know's this terrain. Today, what businesses need is an online footprint. When people
    | search for services like those that you offer, are they going to find you? Are they going to be
    | able to connect with you? We can give you that, a digital business card of sorts. 
  p 
    | Imperative Design offers everything you need to turn your idea into a product. Wether you are looking
    | to have a site done for your business, or you are looking to create the very product that will become 
    | the foundation of your business. We use technology that is on the cutting edge of the web to deliver 
    | proven strategies that win new business and open up new channels for our clients.

  h2 The new handshake
  p
    | In the past, winning new business meant taking out an add in the yellow pages, on the radio, or on a billboard.
    | Then, when you got a call from a potential lead, you would go out and meet people and hope that a smile and a 
    | handshake would eventually turn into a client.
  p 
    | That process has been replaced. Today, if you don't have sound digital prescence, you won't even get the
    | chance to have that handshake with today's consumer. Wether it is on google, yelp, kudzu or an industry
    | publication's site, the web is how customers find, rate, and connect with companies today. Give your business
    | more than a fighting chance. Give it an online edge when it comes to dealing with the competition.