extends service_layout.pug

block main-cta
  img(src="../img/banners/smm2_531476914.jpg")

block page_content
        h1 Social Media Marketing 
          span | Modern consumer engagment tools
        
        p
            | These days, almost everyone know's what social media is. Everyone from the sophisticated CEO
            | to the sweet grandma uses facebook to share their memories and thoughts. For businesses though, 
            | social media can be an awesome weapon in their marketing mix arsenal to engage consumers, gain
            | exposure, and provide support to their customers.

        p
            | Social media marketing (SMM) is the process of leveraging these tools to get more exposure and 
            | mind share for your business. That's not the only reason why this is important. Search engine's
            | are now using social signals to boost sites higher in their rankings. This means that high social 
            | engagment is now an effective tool to drive more traffic to your business. Let's meet the contenders
            | for your SMM attention.

        h2 The usual suspects
        br
        h3 Facbook   
            span | The big kahuna
        p
            | Everyone is on facebook and everyone know's how to use it. Facebook is great for making 
            | announcements, driving general interest, and creating a community around your business and products.

        h3 Twitter   
            span | Viral, instant social bonds
        p
            | If Facebook is for  creating a timeline, Twitter is all about living in the moment.
            | From customer support, to contests, Twitter is an indespensable tool for connecting with today's 
            | consumer.
        h3 Instagram  
            span | Paint a perfect picture
        p
            | The allure of Instagram is visual. For a cosmetics company, or a product person, this is a great
            | social outlet. If you are in the copyright business maybe not so much. If you provide products
            | that have a wow factor to them, this is a great way to build a following around them.
        
        