extends service_layout.pug

block main-cta
  img(src="../img/banners/digital_strategy_578559362.jpg")

block page_content
        h1 Digital Marketing Strategy  
            span | We show you where to start and walk right beside you
        p 
            | Getting a game plan together can be daunting. Many business owners
            | find themselves wondering where do they even start. We work with you
            | to help you figure out your messaging, what you want to say to the consumer.
            | We will then help you craft a plan that will deliver that to your target market.

        h2 Who is your target market?  
            span | Are you going after the right people?
        p 
            | The first step to connecting with consumers is figuring out who you are trying to connecting
            | with. You don't want to limit yourself and miss out on potential profits but at the same time you
            | want to make sure that your target market aligns well with the core competencies your business has.
        
        h2 Stir up the right marketing mix
        p 
            | Your marketing mix is which channels you're using to connect to your customers. Print, TV, Radio, Digital.
            | These are all valid means of connecting. Our forté is digital marketing. It's a vast wilderness that we 
            | would love to help you tame. Just within digital marketing, you have to consider if you are going to do, SEO, SMM,
            | email marketing, landing pages, blogging, and much more. 

        h2 The new four P's
        p 
            | In the traditional world of marketing there used to be <strong>four p's</strong> that reigned supreme: product, price, placement, and promotion.
            | While these are still alive, there are a new four p's that are beginning to circulate around the marketing world.
            | Portability, Personalization, Proximity, and Prescence. 
            //more on these
            //http://www.wpp.com/wpp/marketing/marketing/the-new-four-ps-of-marketing/
        