extends service_layout.pug

block main-cta
  img(src="../img/banners/web_development_627045246.jpg")

block page_content
        h1 The web 
          span | Times are changing
        
        h2 Connect with today's consumer 
        p
            | When you take your significant other out to a fancy restaurant,
            | how do you find where you are going to go? When you need a plumber
            | how do you choose between all of the options that are out there?
            | The answer to these questions revolves around one idea: 
            strong the web
            |. I would imagine you, like everyone else, google's what they need, when they need it.
            | Then you evaluate the options based on things like price, ratings, and how the company has
            | portrayed themselves through their website. 

        p
            | This search and initial connection will do one of two things for you. 
            | A well crafted experience will get the potential client to dig deeper. It will hook them and peak their
            | interest. It will start the customer out with the feeling that they are dealing with a professional company.
            | On the contrary, a poor experience, or a lack of an experience all together will send them immediately to your 
            | competition. Is your online prescece making your competition thank you or dread you?
            

        h2 Spend strategically. earn exponentially
        p
            | People make investments in there business all the time. They hire new talent. They
            | have marketing materials made. They invest their time. While all of these investments are
            | great, they all fall short of today's holy marketing mantra:
            em There is no invesment you can make in your business that will pay off more than a well crafted digital experience
        p 
            | Imagine, if you could spend a small fraction of what you make in a quarter, and turn that into
            | gains of thirty or fourty percent over the next five to ten years. How much new revenue would that be?
            | What would it mean for your business, if you could decide which groups of consumers you wanted to target, 
            | and then instantly be in front of them? What would that kind of ability to connect mean for you?
        p 
            | In the past, when businesses used various forms of advertising to connect with their customers, they
            | had to diversify their efforts accross multiple channels and then hope for the best. They would'nt really
            | know which ones were driving the most traffic to them, or if they were driving traffic at all. Sure, there are some
            | indicators, you can make people fill out forms, you can have them answer questionaires, ect., but traditionally, businesses
            | didn't have truly meaningful ways to verify the results of their efforts. Those days are gone in the digital world. We can tell
            | not just what is working for you but we can identify new opportunities for you, which markets are working for you, which 
            | places you are waisting your money on. Down to the city.

        h2 The more things change, the more they stay the same
        p
          | Forms of advertising may change. Google's algorythims may change. Consumer behaviour may change, but the web is not going anywhere.
          | For this reason, you can be confident that your investment today in your company's online prescence will reap rewards for many
          | years to come. The question isn't if you should be online, but rather who should you choose to help you get there.