extends service_layout.pug

block main-cta
  img(src="../img/banners/website_rennovation_606672336.jpg")

block page_content
        h1 Site remodeling   
          span | Time for a fresh coat of paint?

        p 
            | Have a site that looks like it's as old as the web itself? No sweat, we can tackle that for you.
            | Are you happy with what you have and want to build on top of that? We can work with that too.
        
        h2 Consultation   
            span | Get a SWOT analysis done for your site
        p 
            | What are your strengths, weaknesses, opportunities, and threats. Where could you do better, 
            | what important channels are you potentially missing out on? Find out how to take your online
            | prescence to the next level.

        h2 Site Rennovation
        p 
            | We'll dig through your site with a fine tooth comb. Sometimes, the technical debt would
            | be to great to work with what you have existing. Other times, we will be able to work with what you
            | have to bring it up to your expectations. We will work to bring it to a place where it can deliver on 
            | your goals.  

        h2 Feature enhancements  
            span | Teach an old dog new tricks
        p 
            | Just because your site is already there or is a bit older, doesn't mean we can't teach it new
            | stuff. Wether you want to add payment processing, email capture, slideshows, or some other nifty
            | interactivity, we can build an experience you that has all the bells and whistles.
