
.band {
    overflow: hidden;
    .wrapper {
        width: 80%;
        margin: 40px auto;
        padding: 0;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        
        .message { 
            width: 40%;
            font-size: 18pt;
            p { font-weight: 100; }
            & h2, h2 p { font-family: 'Permanent Marker', cursive; font-size: 29pt; }
            & h2 { margin: 0 0 20px 0; font-size: 38pt; }
            h2 p { margin-top: 2px; padding: 5px 0 5px 0px; text-align: center; }
        }
    }
    &.blue { 
        color: #fff; background: $blue;
        .message {
            h2 p { background: #fff; color: $blue; }
        }
    }
    &.white { 
        .message {
            h2 p { background: $blue; color: #fff; }
        }
    }
    &.band1{
        .message { 
            width: 40%;
            font-size: 18pt;
            p { font-weight: 100; }
            & h2 { margin: 0 0 20px 0; font-size: 37pt; }
            h2 p { margin-top: 2px; padding: 5px 0 5px 0px; text-align: center; }
        }
    }
    &.band2 {}
    &.band3 {
        .message {
            h2 { font-size: 34pt; }
        }
    }
} 

.home .ctas { 
    margin: 135px 0 0 0;
    .ad1 {
        img { 
            position: relative;
            width: 100%;
            z-index: 1;
            filter: grayscale(1);
            transition: all 500ms ease-in-out;
        }
        &.active img { filter: grayscale(0); }
    }
}

.next-steps {
    li a { color: #fff; font-size: 15pt; display: block; }
}

ul.connect {
    li {
        margin: 0 0 20px;
        h2 { padding: 15px; }
        h2, a {
            font-family: 'Permanent Marker', cursive; 
            background: #fff;
            color: $blue;
        }
        a { display: block; font-size: 27pt; text-align: center; }
    }

}
