
@import 'globals/reset';
@import 'globals/fonts';
@import 'globals/colors';

.container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

 .graphic.placeholder {
    width: 40%;
    background: #787878;
    min-height: 250px;
}

header {
    margin: 40px 0;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 42pt;
        text-transform: uppercase;
        width: 345px;
        letter-spacing: -4px;
        line-height: 0.9;
        span:first-child {font-family: 'Fjalla One', sans-serif; color: $blue; line-height: 0.9; }
        span.tagline {
            display: block;
            font-family: 'Permanent Marker', cursive;
            font-size: 23pt;
            line-height: 0.9;
        }
    }

    nav {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        a { 
            text-decoration: none; 
            color: #000; 
            font-size: 20pt;
            margin: 0 1% 0 0;
            font-weight: 100;
            &:last-child { margin-right: 0; }
        }
    }
}

.ctas {
    background: #787878;
    height: 625px;
    .cta {}
    .ad1 {
        position: absolute;
        z-index: 10;
        background: url(../../img/ctas/test1.png) no-repeat 0 bottom;
        height: 100%;
        width: 100%;
        background-size: 100%;
        background-color: transparent;
    }
    #flare {
        position: absolute;
        z-index: 5;
    }
}

.band {
    .wrapper {
        width: 80%;
        margin: 40px auto;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        
        .message { 
            width: 40%;
            font-size: 18pt;
            p { font-weight: 100; }
            & h2, h2 p { font-family: 'Permanent Marker', cursive; font-size: 29pt; }
            & h2 { margin: 0 0 20px 0; font-size: 38pt; }
            h2 p { margin-top: 2px; padding: 5px 0 5px 0px; text-align: center; }
        }
    }
    &.blue { 
        color: #fff; background: $blue;
        .message {
            h2 p { background: #fff; color: $blue; }
        }
    }
} 

