
@import 'globals/reset';
@import 'globals/fonts';
@import 'globals/colors';

//Effects
a { transition: all 250ms; font-size: 11pt; text-decoration: none; }
a:hover { transform: scale(1.1); color: #fff; }

.container {
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

 .graphic.placeholder {
    width: 40%;
    background: #787878;
    min-height: 250px;
}

header {
    margin: 40px 0;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo { text-decoration: none; color: #000; }
    h1 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 42pt;
        text-transform: uppercase;
        width: 345px;
        letter-spacing: -4px;
        line-height: 0.9;
        span:first-child {font-family: 'Fjalla One', sans-serif; color: $blue; line-height: 0.9; }
        span.tagline {
            display: block;
            font-family: 'Permanent Marker', cursive;
            font-size: 23pt;
            line-height: 0.9;
        }
    }

    nav {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;

        a { 
            text-decoration: none; 
            color: #333; 
            font-size: 20pt;
            margin: 0 2% 0 0;
            font-weight: 100;
            border-bottom: 1px solid transparent;
            &:last-child { margin-right: 0; }
            &:hover { color: #000; border-color: $blue; }
        }
    }
}

.ctas {
    //background: #787878;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#787878+0,333333+100 */
    background: #787878; /* Old browsers */
    background: -moz-linear-gradient(left, #787878 0%, #333333 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #787878 0%,#333333 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #787878 0%,#333333 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787878', endColorstr='#333333',GradientType=1 ); /* IE6-9 */
    height: 625px;
    position: relative;
    overflow: hidden;
    .cta {
        .message {
            position: absolute;
            right: 1%;
            bottom: 30%;
            background: rgba(0, 0, 0, 0.4);
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 20px;
            box-sizing: border-box;
            color: #fff;
            font-size: 21pt;

            .highlight {
                font-family: 'Fjalla One', sans-serif;
                text-transform: uppercase;
                background: #333;
                color: #fff;
                padding: 5px 10px;
            }

            .action {
                margin: 5px 5px 0 0;
                a { 
                    float: right; 
                    color: #eee; 
                    text-decoration: none; 
                    font-size: 11pt;
                }
            }
        }
    }
    .ad1 {
        position: absolute;
        z-index: 10;
        background: url(../../img/ctas/test1.png) no-repeat 0 bottom;
        height: 100%;
        width: 100%;
        background-size: 120%;
        background-color: transparent;
    }
    #flare {
        position: absolute;
        z-index: 5;
    }
}

.band {
    .wrapper {
        width: 80%;
        margin: 40px auto;
        align-items: flex-start;
        display: flex;
        justify-content: space-between;
        
        .message { 
            width: 40%;
            font-size: 18pt;
            p { font-weight: 100; }
            & h2, h2 p { font-family: 'Permanent Marker', cursive; font-size: 29pt; }
            & h2 { margin: 0 0 20px 0; font-size: 38pt; }
            h2 p { margin-top: 2px; padding: 5px 0 5px 0px; text-align: center; }
        }
    }
    &.blue { 
        color: #fff; background: $blue;
        .message {
            h2 p { background: #fff; color: $blue; }
        }
    }
    &.white { 
        .message {
            h2 p { background: $blue; color: #fff; }
        }
    }
    &.band1{
        .message { 
            width: 40%;
            font-size: 18pt;
            p { font-weight: 100; }
            & h2 { margin: 0 0 20px 0; font-size: 37pt; }
            h2 p { margin-top: 2px; padding: 5px 0 5px 0px; text-align: center; }
        }
    }
    &.band2 {}
    &.band3 {
        .message {
            h2 { font-size: 34pt; }
        }
    }
} 

.next-steps {
    li a { color: #fff; font-size: 15pt; display: block; }
}

ul.connect {
    li {
        margin: 0 0 20px;
        h2 { padding: 15px; }
        h2, a {
            font-family: 'Permanent Marker', cursive; 
            background: #fff;
            color: $blue;
        }
        a { display: block; font-size: 27pt; text-align: center; }
    }

}

