@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Permanent+Marker|Roboto:100,300,400,900");
body {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.post-template .blog-title {
  padding: 5px; }

.active {
  border-bottom: solid 1px;
  border-color: #0036bf; }

.flex-box-wrapper {
  display: flex;
  flex-direction: row; }

.custom-post-content {
  justify-content: space-between;
  align-items: stretch;
  display: inline-block;
  width: 40%; }
  .custom-post-content .hidden-post-tag-cloud {
    display: none; }

.custom-post-footer div.custom-post-excerpt {
  font-size: 15pt; }

.custom-post-footer {
  justify-content: flex-start;
  display: inline-block;
  position: absolute;
  top: 0px; }
  .custom-post-footer div {
    margin: -5px 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 22pt;
    height: auto; }
    .custom-post-footer div p {
      margin: 0 10px; }
    .custom-post-footer div a {
      text-decoration: none;
      text-transform: capitalize; }
  .custom-post-footer .custom-post-header {
    margin: 0px 5px; }
  .custom-post-footer .custom-post-excerpt {
    margin: 10px 15px; }
  .custom-post-footer .custom-footer-meta {
    text-transform: uppercase;
    font-size: 14pt;
    color: #0036bf;
    flex-grow: 1;
    font-weight: 600; }
    .custom-post-footer .custom-footer-meta a:only-child {
      padding: 0 10px !important; }
    .custom-post-footer .custom-footer-meta a:first-child {
      padding: 0px 0px 0 10px; }
    .custom-post-footer .custom-footer-meta a:last-child {
      padding: 0px 10px 0 0px; }
    .custom-post-footer .custom-footer-meta a {
      color: #0036bf; }
    .custom-post-footer .custom-footer-meta time {
      padding: 0 10px;
      font-size: 14pt; }

.post-image, .tag-cloud {
  height: auto; }

.post-image p {
  margin: 0; }

.post-image img {
  width: 100%; }

.content {
  width: 100%;
  margin: 2rem 0 0 -2rem !important; }
  .content article {
    margin: 4rem auto; }
  .content .post {
    border: none;
    margin: 0 auto; }
  .content .post:after {
    display: none; }

.site-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: 60%; }

#tag-cloud {
  width: 25%;
  font-family: 'Fjalla One';
  text-transform: uppercase;
  font-size: 24pt;
  color: black;
  margin: 2rem 2% 0 0; }
  #tag-cloud a.tagCloudTag {
    display: inline-block;
    padding: 1.5px;
    text-decoration: none;
    color: black;
    line-height: 1;
    transition: all 250ms;
    margin: 0 2px; }
  #tag-cloud a:hover {
    transform: scale(1.1);
    border-color: #0036bf; }
  #tag-cloud a.active {
    color: #0036bf; }

#custom-tag-meta {
  background: black; }

h1.post-title {
  width: 100%; }

body > header {
  position: fixed;
  background: white;
  padding: 20px 3% 10px 1%;
  margin: 0px;
  z-index: 11;
  width: 100%;
  max-width: 1500px;
  box-sizing: border-box;
  opacity: 1; }
  body > header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    body > header .wrapper .nav-toggle {
      display: none; }
  body > header .logo {
    text-decoration: none;
    color: #000; }
    body > header .logo:hover {
      color: #000; }
  body > header h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 42pt;
    text-transform: uppercase;
    width: 345px;
    letter-spacing: -4px;
    line-height: 0.9;
    -webkit-font-smoothing: antialiased;
    font-weight: 300; }
    body > header h1 span:first-child {
      font-family: 'Fjalla One', sans-serif;
      color: #0036bf;
      line-height: 0.9; }
    body > header h1 span.tagline {
      display: block;
      font-family: 'Permanent Marker', cursive;
      font-size: 23pt;
      line-height: 0.9; }
  body > header ul.insights-nav {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    z-index: 50;
    justify-content: space-between;
    min-width: 285px;
    list-style: none; }
    body > header ul.insights-nav li {
      position: relative;
      margin: 0 5% 0 0;
      font-size: 20pt; }
      body > header ul.insights-nav li a {
        text-decoration: none;
        color: #333;
        font-size: 20pt;
        font-weight: 100;
        border-bottom: 1px solid transparent;
        display: block; }
        body > header ul.insights-nav li a:last-child {
          margin-right: 0; }
        body > header ul.insights-nav li a:hover {
          color: #000;
          border-color: #0036bf; }
      body > header ul.insights-nav li.insights-dropdown ul {
        position: absolute;
        padding: 0;
        width: 325px;
        left: -110px;
        display: none;
        list-style: none; }
        body > header ul.insights-nav li.insights-dropdown ul li:first-child {
          padding-top: 10px; }
        body > header ul.insights-nav li.insights-dropdown ul li:last-child a {
          padding-bottom: 15px; }
        body > header ul.insights-nav li.insights-dropdown ul li a {
          font-size: 14pt;
          background: rgba(255, 255, 255, 0.95);
          display: block;
          text-align: center;
          padding: 7px;
          box-sizing: border-box; }
          body > header ul.insights-nav li.insights-dropdown ul li a:hover {
            border-color: transparent;
            transform: none;
            background: #0036bf;
            color: #fff;
            font-weight: 400; }
      body > header ul.insights-nav li.insights-dropdown:hover ul {
        display: block; }

@media only screen and (max-device-width: 415px) {
  footer {
    width: 80%; }
  html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; }
  #content {
    width: 100%;
    margin: 2rem 0 0 1rem !important; }
  .banner {
    max-width: 372px; }
    .banner img {
      width: 100%;
      margin: 80px 0 0 0; }
  header {
    width: 90%; }
  header h1 {
    font-size: 22pt;
    width: 155px; }
    header h1 span.tagline {
      font-size: 13pt; }
  div.wrapper {
    width: 100%; }
    div.wrapper a.nav-toggle {
      display: initial; }
    div.wrapper ul.insights-nav {
      position: absolute;
      width: 100%;
      display: block;
      visibility: hidden;
      top: 80px;
      left: -34px; }
      div.wrapper ul.insights-nav li {
        margin: 0; }
        div.wrapper ul.insights-nav li a {
          display: block;
          background: #0036bf;
          color: #fff;
          padding: 15px 20px;
          box-sizing: border-box; }
  #tag-cloud {
    display: none;
    margin: 2rem 2% 0 0;
    padding: 0; }
    #tag-cloud .tagCloudTag {
      font-size: 12pt !important; }
  .custom-post-footer .custom-post-header {
    font-size: 12pt; }
  .custom-post-footer .custom-footer-meta {
    font-size: 10pt; }
  div.custom-post-excerpt {
    font-size: 9pt; } }

@media only screen and (max-device-width: 321px) {
  header h1 {
    font-size: 32pt;
    width: 265px; }
    header h1 span.tagline {
      font-size: 18pt; }
  .banner {
    max-width: 320px; }
  #content.content {
    margin-left: 2rem !important; }
  #tag-cloud {
    padding: 0 0 0 10px; }
    #tag-cloud .tagCloudTag {
      font-size: 10pt !important; }
  .custom-post-footer .custom-footer-meta {
    font-size: 7pt; }
  .custom-post-footer div {
    font-size: 10pt; } }
