
header {
    position: fixed;
    background: white;
    padding: 20px 3% 10px 1%; 
    margin: 0px;
    z-index: 11;
    width: 100%;
    max-width: 1500px;
    box-sizing: border-box;
    opacity: 1;
    .nav-toggle { visibility: hidden; }
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-content: space-between;
        width: 100%;
    }

    .logo { 
        text-decoration: none; 
        color: #000;
        &:hover { color: #000; }
    }
    h1 {
        font-family: 'Fjalla One', sans-serif;
        font-size: 42pt;
        text-transform: uppercase;
        width: 345px;
        letter-spacing: -4px;
        line-height: 0.9;
        span:first-child {font-family: 'Fjalla One', sans-serif; color: $blue; line-height: 0.9; }
        span.tagline {
            display: block;
            font-family: 'Permanent Marker', cursive;
            font-size: 23pt;
            line-height: 0.9;
        }
    }

    ul.nav {
        display: flex;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        z-index: 50;
        justify-content: space-between;
        min-width: 285px;

        li {
            position: relative;

            a { 
                text-decoration: none; 
                color: #333; 
                font-size: 20pt;
                font-weight: 100;
                border-bottom: 1px solid transparent;
                display: block;
                &:last-child { margin-right: 0; }
                &:hover { color: #000; border-color: $blue; }
            }
            
            &.dropdown ul {
                position: absolute;
                width: 325px;
                left: -110px;
                display: none;

                li {
                    &:first-child { padding-top: 10px; }
                    &:last-child a { padding-bottom: 15px; }
                    a { 
                        font-size: 14pt;
                        background: rgba(255, 255, 255, .95);
                        display: block;
                        text-align: center;
                        padding: 7px;
                        box-sizing: border-box;
                        &:hover { 
                            border-color: transparent; 
                            transform: none;
                            background: $blue;
                            color: #fff;
                            font-weight: 400;
                        }
                    }
                }
            }
            &.dropdown:hover ul { display: block; }
            
            &.get_in_touch a {
                font-size: 12pt;
                display: inline-block;
                background: #0036bf;
                color: #fff;
                padding: 0 20px;
                margin: 0;
                &:hover { transform: none; border: none; }
            }
        }
    }
}

//Active Nav State
.services-page .nav li.services > a, 
.about-page .nav li.about > a,
.insights-page .nav li.insights > a { color: #000; border-color: $blue; }